<div id="home-wrapper">
    <div id="index-title" style="padding-top: 1vh; margin: 3vh 0 3vh 0; font-size: 3vw;">Category: {{slug}}</div>
    <div id="navbar">
        <a href="/home" class="link-form">Home</a>
        <a href="/home/create-category" class="link-form">Create/Change a Caregory</a>
        <a href="/home/logout" class="link-form" onclick="event.preventDefault();document.getElementById('magic-form').submit();">Logout</a>
    </div>
    <div id="form-wrapper" style="margin-top: 3vh; margin-bottom: 3vh;">
        <form class="form-inline" method="POST" action="/home/category/{{slug}}">
            <div class="form-group mb-2">
                <label for="date">Date:</label>
                <input type="datetime-local" class="form-control-plaintext" name="date" id="date" required>
            </div>
            <div class="form-group mb-2 ">
                <label for="amount">Amount:</label>
                <input type="number" step="any" class="form-control-plaintext" name="amount" id="amount" required>
            </div>
            <div class="form-group mb-2">
                <label for="notes">Notes:</label>
                <input type="text" class="form-control-plaintext" name="notes" id="notes">
            </div>
            {{#if isAll}}
                <div class="form-group mb-2">
                    <label for="category">Category:</label>
                    <select name="category" id="category" class="form-control-plaintext" required>
                        {{#each user.categories}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            {{else}}
                <input type="text" name="category" id="category" value="{{slug}}" hidden readonly>
            {{/if}}
            
            <button type="submit" class="btn btn-primary mb-2">Create Spending</button>
        </form>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 3vh; margin-bottom: 3vh;">
        <form class="form-inline" method="GET" action="/home/category/{{slug}}">
            <div class="form-group mb-2">
                <label for="fromDate">From Date:</label>
                <input type="datetime-local" class="form-control-plaintext" name="fromDate" id="fromDate">
            </div>
            <div class="form-group mb-2 ">
                <label for="toDate">To Date:</label>
                <input type="datetime-local" class="form-control-plaintext" name="toDate" id="toDate">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Filter</button>
        </form>
    </div>
    <table class="table table-hover table-striped table-bordered" id="tb">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Notes</th>
                {{#if isAll}}
                <th>Category</th>
                {{/if}}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#if isAll}}
                {{#each spendings}}
                    <tr>
                        <td contenteditable='true' class="sDate">{{date}}</span></td>
                        <td contenteditable='true' class="sAmount">{{amount}}</td>
                        <td contenteditable='true' class="sNotes">{{notes}}</td>
                        <td aria-readonly="true" class="sName">{{name}}</td>
                        <td><button class="btn btn-outline-default btn-block" onclick="edit(this.parentNode.parentNode)">Edit<span style="display: none;">{{_id}}</button></td>
                        <td><button class="btn btn-outline-default btn-block" onclick="sDelete(this.parentNode.parentNode)">Delete</button></td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each spendings}}
                    <tr>
                        <td contenteditable='true' class="sDate">{{date}}</td>
                        <td contenteditable='true' class="sAmount" >{{amount}}</td>
                        <td contenteditable='true' class="sNotes">{{notes}}</td>
                        <td><button class="btn btn-outline-default btn-block" onclick="edit(this.parentNode.parentNode)">Edit<span style="display: none;">{{_id}}</span></button></td>
                        <td><button class="btn btn-outline-default btn-block" onclick="sDelete(this.parentNode.parentNode)">Delete</button></td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>

    <div style="padding-top: 1vh; margin: 3vh 0 3vh 0; font-size: 2vw; text-align: center;">Total amount of money spent: $<span id="totalAmount"></span></div>
</div>
<form id="magic-form" action="/home/logout" method="POST" style="display: none;"></form>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tb').DataTable();
        const totalAmount = document.querySelector("#totalAmount");
        const amts = document.querySelectorAll(".sAmount");
        let val = 0;

        for (const amt of amts) {
            const temp = amt.textContent;
            val += (isNaN(parseFloat(temp))) ? 0 : parseFloat(temp);
        }

        totalAmount.textContent = val.toFixed(2);
    });
    
    async function sendModifyRequest(url, config) {
        const response = await fetch(url, config);
        const data = await response.json();

        if (data.error) {
            alert(data.error);
        } else if (data.msg) {
            console.log(data.msg);
        }
        location.reload();
    }

    function edit(row) { 
        const _id = row.querySelector("span").textContent;
        const date = row.querySelector(".sDate").textContent.slice(0, 16);
        const amount = row.querySelector(".sAmount").textContent;
        const notes = row.querySelector(".sNotes").textContent;
        let name = row.querySelector(".sName");
        name = (name) ? name.textContent : "{{slug}}";

        const url = "/api/edit-spending";
        const config = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({_id, date, amount, notes, name})
        };

        sendModifyRequest(url, config);
    }

    function sDelete(row) {
        const _id = row.querySelector("span").textContent;
        let name = row.querySelector(".sName");
        name = (name) ? name.textContent : "{{slug}}";

        const url = "/api/delete-spending";
        const config = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({_id, name})
        };

        sendModifyRequest(url, config);
    }


    

</script>