<div id="home-wrapper">
    <div id="index-title" style="padding-top: 1vh; margin: 3vh 0 3vh 0; font-size: 3vw;">Welcome Home, {{user.username}}!</div>
    <div id="navbar">
        <a href="/home" class="link-form">Home</a>
        <a href="/home/create-category" class="link-form">Create/Change a Caregory</a>
        <a href="/home/logout" class="link-form" onclick="event.preventDefault();document.getElementById('magic-form').submit();">Logout</a>
    </div>
    
    <div class="list-group">
        <a href="/home/category/All" class="list-group-item">All</a>
        {{#each user.categories}}
            <a href="/home/category/{{this}}" class="list-group-item">{{this}}</a>
        {{/each}}
    </div>
    
</div>
<div id="fixed-info">
    <div id="date">Today is</div>
    <div id="weather">
        <div>The weather is </div> 
    </div>
</div>

<form id="magic-form" action="/home/logout" method="POST" style="display: none;"></form>

<script>
    const dateDiv = document.querySelector("#date");
    const today = new Date().toLocaleString().slice(0, 9);
    const weatherDiv = document.querySelector("#weather");
    dateDiv.textContent = "Today is " + today;
    let iconUrl = "{{user.iconUrl}}";
    let iconDes = "{{user.iconDes}}";

    if (iconUrl) {
        addImgIcon(iconUrl, iconDes);
    } else if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setPosition, showError);
    }    

    
    async function setPosition(position) {
        const lat = position.coords.latitude;
        const lon = position.coords.longitude;

        const url = "/api/get-weather-icon";
        const config = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({lat, lon})
        };

        const response = await fetch(url, config);
        const data = await response.json();
        const ansUrl = data.iconUrl;
        const ansDes = data.iconDes;

        if (ansUrl) {
            addImgIcon(ansUrl, ansDes);
        }
    }

    function addImgIcon(url, des) {
        const img = document.createElement('img');
        img.style.width = "5vw";
        img.src = url;
        img.title = des;
        weatherDiv.appendChild(img);
    }

    function showError(error) {
        switch (error.code) {

          case error.PERMISSION_DENIED:
            console.log('User denied the request for location');
            break;

          case error.POSITION_UNAVAILABLE:
            console.log('Location info is not available');
            break;

          case error.TIMEOUT:
            console.log('Location request has timed out');
            break;

          case error.UNKNOWN_ERROR:
            console.log('Mysterious location error');
            break;
        }
    }
</script>